<%- include('components/header') -%>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-interval="2100">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src=".\images\vetdr.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 id="title" data-animation="animated zoomInUp">Welcome</h1>
                    <p id="titlep">we look forward to take care of your pet</p>

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=".\images\dogandcat.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 data-animation="animated zoomInUp">Taking care of your Pets is Essential</h1>
                    <p>...</p>
                </div>


            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=".\images\dogwithowner.jpg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 data-animation="animated zoomInUp">Now we offering touch free service</h1>
                    <p>so our clients will be safe</p>
                </div>

            </div>
        </div>
    </div>


    <div class="jumbotron">
        <h1 class="display-4 text-info">
            <strong!> <em>Welcome  </em> </strong>
        </h1>
        <p class="lead"></p>
        <hr class="my-4">


        <iframe width="860" height="395" src="./images/video.mp4">
            </iframe>
        <p class="lead">
            <a class="btn btn-primary btn-info   btn-lg jb" href="#" role="button">Learn more</a>
        </p>
    </div>

    <div class="card text-center border-info  .mx-auto" style="width:90%;">
        <img class="card-img-top  " src="./images/preventivecare.jpg" alt="Card image cap">
        <div class="card-body ">
            <h2 class="card-title text-info">Preventative Care</h2>
            <p class="card-text">At alex pet clinic , we believe that prevention is truly the best medicine! A yearly wellness exam allows us to prevent, diagnose and treat disease in its early stages, often before you notice any symptoms. Treatment is more effective when
                it starts earlier, so preventative care helps your pet live a long and healthy life with you. We believe in working with and providing you with enough knowledge to put you in control of the health care decisions for your pet.</p>
            <a href="#" class="btn btn-primary   btn-info">read more</a>
        </div>
    </div>

    <div class="card text-center border-info .mx-auto " style="width:90%;">
        <img class="card-img-top" src="./images/dentalcare.png" alt="Card image cap">
        <div class="card-body ">
            <h2 class="card-title text-info">dental care</h2>
            <p class="card-text">Regular dental care is essential for keeping your pet healthy and happy. Dental disease is a common issue among household pets that can lead to serious health problems if left untreated. Periodic dental exams help maintain proper oral hygiene
                and prevent future complications..</p>
            <a href="#" class="btn btn-primary btn-info">read more</a>
        </div>
    </div>

    <div class="card text-center border-info" style="width: 90%;">
        <img class="card-img-top" src="./images/surgery.jpg" alt="Card image cap">
        <div class="card-body ">
            <h2 class="card-title text-info">surgey</h2>
            <p class="card-text"> we are proud to offer state-of-the-art surgical facilities and equipment. We continue to utilize innovative surgical techniques and technology to remain on the forefront of veterinary medicine. Our hospital provides a large number of surgical
                services ranging from standard spaying and neutering to advanced, highly specialized procedures..</p>
            <a href="#" class="btn btn-primary btn-info">read more</a>
        </div>
    </div>
    <div class="card text-center  border-info" style="width: 90%;">
        <img class="card-img-top" src="./images/ultrasound.webp" alt="Card image cap">
        <div class="card-body ">
            <h2 class="card-title text-info ">ultrasound</h2>
            <p class="card-text">We offer the highest level of diagnostic imaging with advanced ultrasound technology. Our doctors perform and interpret ultrasounds everyday. We make sure your pet is comfortable and pain free during their ultrasound exam; giving your pet
                the best diagnostic testing in a fear free way! Ultrasound is available onsite and during same day appointments. </p>
            <a href="#" class="btn btn-primary btn-info">read more</a>
        </div>
    </div>
    <div class="card text-center border-info" style="width:90%;">
        <img class="card-img-top" src="./images/pet nutrition.jpg" alt="Card image cap">
        <div class="card-body ">
            <h2 class="card-title text-info">Nutritonal Consultation</h2>
            <p class="card-text">A nutrition-rich diet is your pet’s first line of defense. Proper daily nutrition is an important factor for keeping your pet healthy, bolstering the immune system and supporting normal development in younger animals. Your pet depends on you
                to make the right nutrition choices for them, make sure you know how..</p>
            <a href="#" class="btn btn-primary btn-info">read more</a>
        </div>
    </div>
    <section>
        <div class="container-fluid">

            <h2 class="text-info">Fear Free</h2>

            <p>Does your animal companion get especially nervous when it comes to vet appointments? Do trips to the vet have you both feeling stressed out? At River City Veterinary Hospital, we recognize that visiting the vet can trigger anxiety in some
                pets.
            </p>

            <img class="logoend" src="./images/fearfreelogo.png" alt="">



        </div>

        <div class="container-fluid">


            <h2 class="text-info">Certified Cat Friendly Practice</h2>
            <p>we understand the unique needs of our feline patients. In fact, we care so much about making sure cats receive the medical attention they need and deserve that we’ve become a “Certified Cat Friendly Practice</p>


            <img class="logoend" src="./images/catlogo.png" alt="">

        </div>

    </section>

    <img class="dogs" src="./images/dogs.png" alt="">

    <footer class="white-section" id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f"></i>
            <i class="social-icon fab fa-twitter"></i>
            <i class="social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p>© Copyright 2021 esraashreef</p>
        </div>
    </footer>


















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>




</body>

</html>