<%- include('components/header') -%>

     <div class="front">
         <h1>COME!<span style="color: rgb(243, 186, 122);"> STAY! </span>PLAY!</h1> 
         <P>Trust our skilled , compassionate team</P>
     </div>

     <div>
         <img class="play" src="./images/play.jpg" alt="">
     </div>


      <div class="doglodge">
        <img src="./images/whitepuppy.jpg"  class="   float-right" alt="">
         <h1> Dog Lodge</h1>
        <p>Why leave your best friend alone at home to stare at the door
           while you’re away? Bring them where they can explore the great outdoors
            and enjoy some exercise time.</p>
            <a href="#" class="btn btn-primary btn-info">Download Admission Form</a>
      

      </div>


        <div class="doglodge">
         <img src="./images/smallcat.jpg"class="  float-right" alt="">
         <h1>cat boarding</h1>
         <p>Our experienced team of animal lovers has created a loving cat boarding environment 
            that will be like a home away from home for your cat.</p>
        
            <a href="#" class="btn btn-primary btn-info">ownload Admission Form</a>
        
        </div>

        

        <div class="card-group">
          <h1 class=" t">Our guests enjoy a number of amenities, including but not limited to:</h1>

          <div class="card">
            
            <div class="card-body">
             
              <ul class="card-text">
                <li>Spacious suites</li>
                <li>Separate areas dedicated specifically to either cats or dogs</li>
                <li>Daily exercise. Daycare available for lots of playtime with new fur-friends</li>
                <li>Clean and cozy suites with fluffy comfy bedding</li>
                <li>Clean, fresh water is always availabl</li>
                <li>Royal Canin GI specially made to prevent stomach upset is fed to our canine guests (unless you bring your own food)</li>
                <li>Kong-sicles and other treats are available</li>
              </ul>





            </div>
          </div>
          <div class="card">
            <img class="card-img-top  dkimg" src="./images/dogandkids.jpg" alt="Card image cap">
            
          </div>
          <div class="card">
           
            <div class="card-body">
              <ul class="card-text">
                <li>Royal Canin GI Moderate Calorie to our feline guests, to help diminish any stress induced GI upset that might come with staying in a new place away from familiar surroundings (unless you bring your own food)</li>
                <li>Cats have their own area away from the dogs with spacious suites and look out of a large bay of windows. Each cat gets individual time outside of their suite daily.</li>
                <li>We can administer any medication or special care your pet needs</li>
                
              </ul>
            </div>
          </div>

          
        </div>
        <a href="#" class="  b btn btn-primary btn-info">Read more</a>


        <h1 class="t1">Reviews</h1>

        <div class="card-deck">
          <div class="card border-info mb-4">
          
            <div class="card-body ">
              <h5 class="card-title text-info"><i class="fas fa-check"></i>verified</h5>
              <h4 class="card-text">We are have a new puppy and they are doing great with her</h4>
            </div>
            <div class="card-footer">
              <h5 class="text-muted">John Akin</h5>
            </div>
          </div>
          <div class="card border-info mb-4">
         
            <div class="card-body ">
              <h5 class="card-title text-info"><i class="fas fa-check"></i>verified</h5>
              <h4 class="card-text">Compassionate. Caring. Professional.</h4>
            </div>
            <div class="card-footer">
              <h5 class="text-muted">Jim Smith</h5>
            </div>
          </div>
          <div class="card border-info mb-4">
            
            <div class="card-body ">
              <h5 class="card-title text-info"><i class="fas fa-check"></i>verified</h5>
              <h4 class="card-text">Great staff</h4>
            </div>
            <div class="card-footer">
              <h5 class="text-muted">Cecelia Blewett</h5>
            </div>
          </div>
        </div>








     

      <!-- Optional JavaScript -->
     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
     <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
    <footer class="white-section" id="footer">
      <div class="container-fluid">
          <i class="social-icon fab fa-facebook-f"></i>
          <i class="social-icon fab fa-twitter"></i>
          <i class="social-icon fab fa-instagram"></i>
          <i class="social-icon fas fa-envelope"></i>
          <p>© Copyright 2021 esraashreef</p>
      </div>
   </footer>



</html>