<%- include('components/header') -%>

    

    </div>

    <div class="dogWell">
     <h1>Wellness Plans Specialized for Dogs</h1>
     <img src="./images/puppy.jpg"  class="dimg" alt="">
     <p>We believe in preventive wellness care. This is accomplished through routine semi-annual comprehensive exams, vaccinations, parasite prevention, urine and blood screening, good oral health and client education encompassing nutrition and behavior. Annual Wellness Plans offer an affordable way to provide high quality preventive healthcare to your pet. Wellness Plans are NOT insurance. They are designed to provide routine healthcare and diagnostics at a discount. With regular checkups, illnesses and diseases can be detected early, before they become worse and more expensive to treat. By bundling services and spreading the yearly cost over 12 months, you and your pet can concentrate on staying healthy.</p>
     <a href="#" class="btn btn-primary btn-info">Learn more</a>
    
    </div>


    <div class="catWell">
       <h1>Wellness Plans Specialized for cats</h1>
     <img src="./images/smallcat.jpg"class="dimg" alt="">
     <p>Here, our DVMs and healthcare team believe in preventive wellness care. This is accomplished through routine semi-annual wellness exams, vaccinations, parasite prevention, urine and blood screening, good oral health, and client education encompassing nutrition and behavior. Our Annual Wellness Plans offer an affordable way to provide the highest quality of preventive healthcare to your pet. Wellness Plans are NOT insurance. They are designed to provide preventative healthcare and diagnostics at a discount. With regular checkups, illnesses and diseases can be detected early, before they become more serious and more expensive to treat. By bundling services and spreading the yearly cost over 12 months, you and your pet can concentrate on staying happy, healthy, and pain-free!
    </p>
    <a href="#" class="btn btn-primary btn-info">Learn more</a>
    </div>





















    <img class="dogs" src="./images/dogs.png" alt="">


    <footer class="white-section" id="footer">
        <div class="container-fluid">
            <i class="social-icon fab fa-facebook-f"></i>
            <i class="social-icon fab fa-twitter"></i>
            <i class="social-icon fab fa-instagram"></i>
            <i class="social-icon fas fa-envelope"></i>
            <p>© Copyright 2021 esraashreef</p>
        </div>
    </footer>








    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>